.section--contact {
  padding: 5rem;
  position: relative;
}

.contact__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.contact__box {
  --box-spacing: 3rem;

  max-width: 35rem;
  margin: auto;
}

.contact__description {
  margin-top: 1rem;

  > :only-child {
    margin: 0;
  }
}

.contact__detail {
  display: flex;
  align-items: flex-start;

  & + & {
    margin-top: 2rem;
  }
}

.detail__icon {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
  margin-right: 2rem;
}

.detail__value {
  line-height: 2rem;
}

.detail__value--address {
  line-height: 1.2;
  font-style: normal;
}

.social-media__heading {
  font-size: 1.25rem;
}

.social-media__links {
  filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.25));

  img {
    height: 2rem;
    margin-right: 1rem;
  }
}
