$gallery-gap: 1rem;
$scrollbar-thumb-colour: #A6A6A6;
$scrollbar-track-colour: #E8E8E8;

.section--gallery {
  --section-padding: 5rem;
}

.gallery__text {
  padding: var(--section-padding) var(--section-padding) 0;
}

.gallery__slider {
  position: relative;
  padding: 0 var(--section-padding) var(--section-padding);
}

.slider__wrapper {
  margin-top: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-colour $scrollbar-track-colour;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-colour;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-colour;
    border-radius: 8px;
  }
}

.slider__images {
  writing-mode: vertical-lr;
  columns: 2;
  column-gap: $gallery-gap;
}

.slider__image {
  display: block;
  height: calc((100vh - #{$header-height} - 4 * #{$gallery-gap}) / 2);
  margin-right: $gallery-gap;
}

.slider__button {
  --button-offset: 2rem;

  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 3.25rem));
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;

  img {
    display: block;
    width: 2rem;
    height: 2rem;
  }
}

.slider__button--left {
  img {
    transform: rotate(180deg);
  }

  left: var(--button-offset);
}

.slider__button--right {
  right: var(--button-offset);
}

@media screen and (max-width: 700px) {
  .section--gallery {
    --section-padding: 3rem;
  }

  .slider__wrapper {
    scroll-snap-type: x mandatory;
  }

  .slider__images {
    columns: 1;
    height: calc(100vh - #{$header-height} - 2 * var(--section-padding));
    max-height: max-content;
  }

  .slider__image {
    height: 100%;
    object-fit: contain;
    width: calc(100vw - 2 * var(--section-padding));
    scroll-snap-align: center;
  }

  .slider__button {
    --button-offset: .5rem;

    transform: translateY(calc(-50% - 1.5rem))
  }
}

@media screen and (max-width: 500px) {
  .section--gallery {
    --section-padding: 2rem;
  }

  .slider__button {
    --button-offset: 1rem;
  }
}
