@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$clr-primary: #e12301;
$clr-primary-dark: #681000;
$clr-accent: #0fc678;
$clr-accent-pale: #F2FDF8;
$clr-grey: #262626;
$clr-black: #2c0903;
$clr-white: #fff;

$font-display: 'Alata', sans-serif;
$font-body: 'Source Sans 3', sans-serif;
