@import './mixins.scss';
@import './variables.scss';

@import '@/assets/styles/hero.scss';
@import '@/assets/styles/services.scss';
@import '@/assets/styles/about.scss';
@import '@/assets/styles/gallery.scss';
@import '@/assets/styles/testimonials.scss';
@import '@/assets/styles/contact.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  text-size-adjust: 100%;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

*[id] {
  scroll-margin-top: $header-height;
}

body {
  margin: 0;
  font-family: $font-body;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: $font-display;
  font-weight: 400;
}

.box {
    background-color: $clr-white;
    border: 8px solid $clr-primary;
    padding: 2rem 2.5rem;
    box-shadow: $shadow-subtle;

    > * + * {
      margin-top: var(--box-spacing, 1rem);
    }
}

.heading {
  font-size: 2rem;

  > :only-child {
    margin: 0;
  }
}

.button {
  display: block;
  width: fit-content;
  padding: .5rem 1.25rem;
  font-family: $font-display;
  background-color: $clr-accent;
  color: $clr-white;
  border-radius: 4px;
  font-size: 1.25rem;
  text-decoration: none;
}

.section__description {
  margin-top: .25rem;

  > :only-child {
    margin: 0;
  }
}
